code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('images/money.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 768px) {
  body {
    background-image: url('images/money.png');
    background-position: left;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100vh;
    margin-top: 150px;
  }
}