code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  background-image: url('images/money.png');
  background-size: cover;
  background-repeat: no-repeat;
}